<section  id="gigs" class="container">
    <h1>Google Trends</h1>
    <form action="/links/trends" method="POST">
    <div class="input-group">
        <label for="trendName">Keywords Search</label>
        <input type="text" name="trendsName" id="trendName" class="input-box" placeholder="eg. Keyworsd">
    </div>
    <input type="submit" value="Search keyword" class="btn btn-reverse">
    </form>
</section>